.header{width: 100%;height: 150px;display: flex;position: relative;}
.header img{width: 209px;height: 76px;position: absolute;left: 0;top: 0;bottom: 0;right: 0;margin: auto;}
.header>p{position: absolute;top: 90px;right: 300px;color: #CCCCCC;font-size: 14px;}
.header>p>a{color: #6AA530;font-size: 16px;text-decoration: none;}
.header>p>span{font-size: 16px;color: black;}
.header>p>a:hover{text-decoration: underline;}


.denglu{width:100%;height:470px;text-align: center;}
.denglu>p{display: inline-block;width: 150px;height: 50px;border: 1px solid #9E92AA;border-bottom: none;line-height: 50px;font-size: 14px;background-color: #F6F6F6;}
.denglu>a{display: inline-block;width: 150px;height: 50px;line-height: 50px;color:#6AA530;font-size: 14px;cursor: pointer;}
.denglu>a:hover{text-decoration: underline;}
.denglu>form{width: 100%;height: 300px;border-top: 1px solid #9E92AA;margin-top:-1px;}


.denglu>form>table{margin: 20px auto;}
.denglu>form>table td:nth-of-type(1){width: 150px;}
.denglu>form>table td:nth-of-type(2){text-align: left;width:350px;padding: 5px 20px;}
.denglu>form>table input{padding: 5px 8px;width: 200px;}
.denglu>form>table p{font-size: 12px;color: white;background-color: #6AA530;display: inline-block;width: 100px;height: 30px;text-align: center;line-height: 30px;}
.denglu>form>table td:nth-of-type(1){font-size: 12px;}
.denglu>form .yzm{width: 65px;}
.denglu>form .span1:hover{text-decoration: underline;}
.denglu>form .btn{background-color: #69A42E;border: none;width: 220px;height: 30px;color: white;}
.denglu>form .btn:hover{background-color: #9FD170;}
.denglu form .pass{font-size: 12px;}
.denglu>form td span{color: #6AA530;font-size: 10px;}


.footer{width:100%;height: 200px;background-color: #E5E5E5;border-top: 3px solid #6AA530;}
.footer .box{
	width: 1200px;height: 200px;margin: 0 auto;display: flex;
}
.footer .fdiv1{
	width: 200px;height: 170px;box-sizing: border-box;padding-top: 30px;text-align: center;
}

.footer .fdiv1>p{font-weight: 900;}
.footer .fdiv1>a{text-decoration: none;color: black;font-weight: lighter;width: 200px;display: inline-block;padding: 3px 0;}
.footer .fdiv1>a:hover{text-decoration: underline;}
.footer .fdiv1>a:active{border: 1px dotted black;}

.footer .fdiv1:nth-of-type(4){margin-left: 20px;width: 230px;}
.footer .fdiv1:nth-of-type(4) p{font-size: 15px;font-weight: normal;}
.footer .fdiv1:nth-of-type(5){width: 250px;text-align: left;}
.footer .fdiv1:nth-of-type(5) a{text-decoration: none;color: black;font-weight:normal;font-size: 15px;}
.footer .fdiv1:nth-of-type(5) a:hover{
	text-decoration: underline;color: #4B0082;
}
.footer .fdiv1:nth-of-type(5)>p{margin-top: 15px;}
.footer .fdiv1:nth-of-type(5) p{color: black;font-weight: normal;font-size: 15px;}